:root {
  --primary: #264de4;
  --spacer-md: 1em;
  --padding-box: .5em 1em;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #fff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr;
  position: relative;
  min-height: 100%;
  width: 100%;
}

#site-header {
  grid-column: 1 /7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #264DE411;
  padding: .5em 1em;
}

#site-header .title {
  color: #264de4;
  text-transform: capitalize;
}

.sidebar {
  grid-column: 1 /2;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-list li a {
  display: inline-block;
  color: white;
  padding: var(--padding-box);
}

#challenge-area {
  grid-column: 2 / 7;
  /* grid-row: 2 / 3; */
  padding: var(--spacer-md);
  overflow: hidden;
}