html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  height: 100%;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 10%);
}

* {
  box-sizing: border-box;
}

.box {
  display: grid;
  place-items: center;


}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 20rem;
  /* place-items: center; */

}

.box:first-child {
  background-color: black;
}

.box:last-child {
  background-color: white;
}

button {
  color: white;
  padding: .5rem 1rem;
  border: none;
  background: hsl(0, 50%, 50%);
}